*
{
    margin: 0;
    padding: 0;
}

button
{
    background-color: red;
    border : none;
    color: blue;
    box-shadow: 2px 2px 2px black;
}

#div_form
{
    margin-top: 10%;
    border: wheat 3px solid;
    box-shadow: black 2px 2px 2px;
    padding: 20px;
}

#nav
{
    height: 70px;
    box-shadow: black 2px 2px 2px;
    font-size: large;
}


.card
{
    margin-top: 3%;
    box-shadow: black 3px 3px 3px;
}

.container
{
    height: 100%;
    width : 100%;
}

input
{
    box-shadow: black 2px 2px 2px;
    
}

body
{
    background-size: cover;
}

label
{
    font-weight: bolder;
}

.list-group
{
    margin-top: 5%;
    box-shadow: blueviolet 2px 2px 2px;
}

