<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Ishan Rao">
        {% load static %}
        <title>List of people with their choice of gifts</title>
        <link rel="stylesheet" href="{%static "home_app\css\styles1.css"%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>


    <body style="background-image:url({%static 'home_app/img/christmas11.jpg'%});">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'user_gift_selection'%}">CHOOSE GIFT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'distributor_gift_selection'%}">ADD ITEM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'distributor_peoplelist'%}">WISHLIST</a>
            </li>
          </ul>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">LOG IN</button>
        </div>
      </nav>

            
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <ul class="list-group">
                        <li class="list-group-item">NAME : GIFT: ADDRESS:</li>
                      </ul>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </body>
</html>>
</html>