<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Successfull selected a gift</title>
        {% load static %}
        <link rel="stylesheet" href="{%static "home_app\css\styles1.css"%}">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        YOUR GIFT IS ON THE WAY
                    </h1>
                </div>
                <div class="col-md-6">
                    <img src="{%static 'home_app\static\home_app\img\santa2.jpg'%}">
                </div>
            </div>
        </div>

    </body>
</html>