<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Ishan Rao">
        <title>Successfull selected a gift</title>
        {% load static %}
        <link rel="stylesheet" href="{%static "home_app\css\styles1.css"%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body style="background-image:url({%static 'home_app/img/santa1.jpg'%});">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 style="margin-top: 10%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: oblique;">
                        YOUR GIFT IS ON THE WAY !!
                    </h1>
                </div>
                <div class="col-md-6">
                  
                </div>
            </div>
        </div>

    </body>
</html>